@import "poole";
@import "syntax";
@import "hyde";

#copyrt {
	color: lightgrey;
	font-size: 12pt;
}

.shareText {
	color: #9a9a9a !important;	
	font-size: 12pt !important;
}

.logo {
    width: 36px;
    height: 36px;
    background-image: url("//cdnpods.airingpods.com/logo-48.png");
    background-size: 100%;
    display: inline-block;
}