@import "poole";
@import "syntax";
@import "hyde";

.footer-text {
	color: lightgrey !important;
	font-size: 12pt;
}

#homeTitle {
	font-size: 36pt;
	margin-bottom: 20px;
}

.shareText {
	color: #9a9a9a !important;	
	font-size: 12pt !important;
}

.logoText {
	font-size: 36pt;
}

.logo {
    width: 36px;
    height: 36px;
    background-image: url("//cdnpods.airingpods.com/logo-48.png");
    background-size: 100%;
    display: inline-block;
}

.imgrt {
	float: right;
	height: 75px;
	margin: 5px;
}